amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
chardet==2.3.0
click==6.7
Flask==0.12.2
Flask-SocketIO==2.9.2
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
python-engineio==2.0.1
python-socketio==1.8.3
redis==2.10.6
shortuuid==0.5.0
six==1.10.0
